/* 
  ##Device = Desktops
  ##Screen = 1440px to higher resolution desktops
*/

@media (min-width: 1440px) {
  /* CSS */
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 1025px to 1199px
*/

@media (min-width: 1025px) and (max-width: 1199.98px) {
  .forheight {
    min-height: 50vh;
    align-items: center;
  }
  .navbar-brand {
    padding-left: 12px;
  }
  .navbar-light .navbar-toggler {
    margin-right: -12px;
  }
  .bannercontent h5 {
    padding: 90px 0px 10px 35px;
  }
  .bannercontent h1 {
    font-size: 36px;
    padding: 0px 0px 20px 35px;
  }
  .bannercontent p {
    font-size: 15px;
    padding: 0px 10px 25px 35px;
  }
  .forbutton .btn-one {
    font-size: 12px;
    padding: 8px 18px 8px 18px;
    margin: 0px 15px 0px 0px;
  }
  .forbutton .btn-tow {
    font-size: 12px;
    padding: 8px 18px 8px 18px;
  }
  .phoneimgone {
    text-align: end;
  }
  .phoneimgone img{
    width: 85%;
    margin: auto;
    padding-top: 60px;
  }
  .sectionone {
    padding: 60px 0px 40px 0px;
  }
  .commonfour h5,
  .bannercontent h5 {
    font-size: 17px;
    padding-bottom: 0px;
  }
  .commonfour h1 {
    font-size: 30px;
  }
  .foriconone {
    padding: 25px 0px 15px 0px;
  }
  .sectionone .col-lg-3 h1 {
    font-size: 22px;
    padding: 0px 0px 10px 0px;
  }
  .sectionone .col-lg-3 p {
    font-size: 16px;
    padding: 0px 0px 0px 0px;
  }
  .forup {
    margin: 0px 0px 0px 0px;
  }
  .sectiontow {
    padding: 60px 0px 50px 0px;
  }
  .forimagone1 {
    padding: 50px 0px 0px 0px;
  }
  .for-list-four ul li h6 {
    font-size: 17px;
  }
  .sectionthree {
    padding: 60px 0px 30px 0px;
  }
  .sectionfour {
    padding: 50px 0px 10px 0px;
  }
  .forborder {
    padding: 10px 0px 100px 0px;
  }
  .sectionfour p i {
    font-size: 15px;
  }
  .profileimg {
    padding-top: 5px;
  }
  .namecont {
    padding-top: 15px;
  }
  .namecont h1 {
    font-size: 12px;
  }
  .namecont h2 {
    font-size: 12px;
  }
  .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
  }
  .sectionfive {
    padding: 40px 0px 40px 0px;
  }
  .sectionfive h5 {
    font-size: 20px;
    padding: 12px 0px 10px 0px;
  }
  .forbutton {
    padding: 8px 0px 0px 35px;
  }
  .sectionsix {
    padding: 70px 0px 70px 0px;
  }
  .forbox {
    width: 100%;
    margin: auto;
  }
  .forwith h2 {
    padding: 35px 0px 0px 0px;
  }
  .forwith h4 {
    padding: 0px 0px 35px 0px;
  }
  .forbox h1 {
    font-size: 30px;
  }
  .forbox p {
    padding: 10px 0px 10px 0px;
  }
  .forbutton6 .btn-five {
    font-size: 17px;
    margin: 0px 0px 10px 0px;
  }
  .sectionseven {
    padding: 40px 0px 0px 0px;
    background-color: #f2f2f2;
    position: relative;
  }
  .abcdef {
    padding: 0px 0px 0px 0px;
  }
  .foricon7 {
    padding: 25px 0px 0px 0px;
  }
  .bottom90 {
    margin-bottom: -50px;
  }
  form {
    display: inherit;
    border-radius: 10px;
    justify-content: unset;
    padding: 55px 80px 15px 80px;
  }
  form .leftside {
    width: 100%;
  }
  form .leftside input {
    width: 100%;
    padding: 6px 20px 6px 15px;
    margin: 0px 0 15px;
  }
  form .rightside {
    width: 100%;
  }
  form .rightside textarea {
    width: 100%;
    padding: 8px 20px 10px 15px;
    margin: 0px 0 20px;
  }
  form .forbutton {
    text-align: right;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .formap {
    border: 3px solid #008ed6;
  }
  .sectioneight {
    padding: 20px 0px 20px 0px;
  }
  .footericon ul li a {
    font-size: 14px;
  }
  .sectioneight h3 {
    font-size: 13px;
  }
}
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 992px to 1024.98px
*/

@media (min-width: 992px) and (max-width: 1024.98px) and (orientation: landscape) {
  .forheight {
    min-height: 50vh;
    align-items: center;
  }
  .navbar-brand {
    padding-left: 12px;
  }
  .navbar-light .navbar-toggler {
    margin-right: -12px;
  }
  .bannercontent h5 {
    padding: 90px 0px 10px 35px;
  }
  .bannercontent h1 {
    font-size: 30px;
    padding: 0px 0px 20px 35px;
  }
  .bannercontent p {
    font-size: 15px;
    padding: 0px 10px 25px 35px;
  }
  .forbutton .btn-one {
    font-size: 12px;
    padding: 8px 18px 8px 18px;
    margin: 0px 15px 0px 0px;
  }
  .forbutton .btn-tow {
    font-size: 12px;
    padding: 8px 18px 8px 18px;
  }
  .phoneimgone {
    text-align: end;
  }
  .phoneimgone img{
    width: 85%;
    margin: auto;
    padding-top: 50px;
  }
  .sectionone {
    padding: 60px 0px 40px 0px;
  }
  .commonfour h5,
  .bannercontent h5 {
    font-size: 17px;
    padding-bottom: 0px;
  }
  .commonfour h1 {
    font-size: 30px;
  }
  .foriconone {
    padding: 25px 0px 15px 0px;
  }
  .sectionone .col-lg-3 h1 {
    font-size: 22px;
    padding: 0px 0px 10px 0px;
  }
  .sectionone .col-lg-3 p {
    font-size: 16px;
    padding: 0px 0px 0px 0px;
  }
  .forup {
    margin: 0px 0px 0px 0px;
  }
  .sectiontow {
    padding: 60px 0px 50px 0px;
  }
  .forimagone1 {
    padding: 50px 0px 0px 0px;
  }
  .for-list-four ul li h6 {
    font-size: 17px;
  }
  .sectionthree {
    padding: 60px 0px 30px 0px;
  }
  .sectionfour {
    padding: 50px 0px 10px 0px;
  }
  .forborder {
    padding: 10px 0px 100px 0px;
  }
  .sectionfour p i {
    font-size: 15px;
  }
  .profileimg {
    padding-top: 5px;
  }
  .namecont {
    padding-top: 15px;
  }
  .namecont h1 {
    font-size: 12px;
  }
  .namecont h2 {
    font-size: 12px;
  }
  .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
  }
  .sectionfive {
    padding: 40px 0px 40px 0px;
  }
  .sectionfive h5 {
    font-size: 20px;
    padding: 12px 0px 10px 0px;
  }
  .forbutton {
    padding: 8px 0px 0px 35px;
  }
  .sectionsix {
    padding: 70px 0px 70px 0px;
  }
  .forbox {
    width: 100%;
    margin: auto;
  }
  .forwith h2 {
    padding: 35px 0px 0px 0px;
  }
  .forwith h4 {
    padding: 0px 0px 35px 0px;
  }
  .forbox h1 {
    font-size: 30px;
  }
  .forbox p {
    padding: 10px 0px 10px 0px;
  }
  .forbutton6 .btn-five {
    font-size: 17px;
    margin: 0px 0px 10px 0px;
  }
  .sectionseven {
    padding: 40px 0px 0px 0px;
    background-color: #f2f2f2;
    position: relative;
  }
  .abcdef {
    padding: 0px 0px 0px 0px;
  }
  .foricon7 {
    padding: 25px 0px 0px 0px;
  }
  .bottom90 {
    margin-bottom: -50px;
  }
  form {
    display: inherit;
    border-radius: 10px;
    justify-content: unset;
    padding: 55px 80px 15px 80px;
  }
  form .leftside {
    width: 100%;
  }
  form .leftside input {
    width: 100%;
    padding: 6px 20px 6px 15px;
    margin: 0px 0 15px;
  }
  form .rightside {
    width: 100%;
  }
  form .rightside textarea {
    width: 100%;
    padding: 8px 20px 10px 15px;
    margin: 0px 0 20px;
  }
  form .forbutton {
    text-align: right;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .formap {
    border: 3px solid #008ed6;
  }
  .sectioneight {
    padding: 20px 0px 20px 0px;
  }
  .footericon ul li a {
    font-size: 14px;
  }
  .sectioneight h3 {
    font-size: 13px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 991.98px
*/

@media (min-width: 768px) and (max-width: 991.98px) and (orientation: landscape) {
  .forheight {
    min-height: 50vh;
    align-items: center;
  }
  .navbar-brand {
    padding-left: 12px;
  }
  .navbar-light .navbar-toggler {
    margin-right: -12px;
  }
  .bannercontent h5 {
    padding: 90px 0px 10px 12px;
  }
  .bannercontent h1 {
    font-size: 30px;
    padding: 0px 0px 20px 12px;
  }
  .bannercontent p {
    font-size: 15px;
    padding: 0px 10px 25px 10px;
  }
  .forbutton .btn-one {
    font-size: 10px;
    padding: 8px 18px 8px 18px;
    margin: 0px 15px 0px 0px;
  }
  .forbutton .btn-tow {
    font-size: 10px;
    padding: 8px 18px 8px 18px;
  }
  .phoneimgone {
    text-align: end;
  }
  .phoneimgone img{
    width: 100%;
    margin: auto;
    padding-top: 50px;
  }
  .sectionone {
    padding: 60px 0px 40px 0px;
  }
  .commonfour h5,
  .bannercontent h5 {
    font-size: 17px;
    padding-bottom: 0px;
  }
  .commonfour h1 {
    font-size: 30px;
  }
  .foriconone {
    padding: 40px 0px 25px 0px;
  }
  .sectionone .col-lg-3 h1 {
    font-size: 24px;
    padding: 0px 0px 10px 0px;
  }
  .sectionone .col-lg-3 p {
    font-size: 16px;
    padding: 0px 10px 5px 10px;
  }
  .forup {
    margin: 0px 20px 0px 20px;
  }
  .sectiontow {
    padding: 60px 0px 50px 0px;
  }
  .forimagone1 {
    padding: 50px 0px 0px 0px;
  }
  .for-list-four ul li h6 {
    font-size: 17px;
  }
  .sectionthree {
    padding: 60px 0px 30px 0px;
  }
  .sectionfour {
    padding: 50px 0px 10px 0px;
  }
  .forborder {
    padding: 10px 0px 100px 0px;
  }
  .sectionfour p i {
    font-size: 15px;
  }
  .profileimg {
    padding-top: 5px;
  }
  .namecont {
    padding-top: 15px;
  }
  .namecont h1 {
    font-size: 12px;
  }
  .namecont h2 {
    font-size: 12px;
  }
  .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
  }
  .sectionfive {
    padding: 40px 0px 40px 0px;
  }
  .sectionfive h5 {
    font-size: 20px;
    padding: 12px 0px 10px 0px;
  }
  .forbutton {
    padding: 8px 0px 0px 12px;
  }
  .sectionsix {
    padding: 70px 0px 70px 0px;
  }
  .forbox {
    width: 90%;
    margin: auto;
  }
  .forwith h2 {
    padding: 35px 0px 0px 0px;
  }
  .forwith h4 {
    padding: 0px 0px 35px 0px;
  }
  .forbox h1 {
    font-size: 30px;
  }
  .forbox p {
    padding: 10px 0px 10px 0px;
  }
  .forbutton6 .btn-five {
    font-size: 17px;
    margin: 0px 0px 20px 0px;
  }
  .sectionseven {
    padding: 40px 0px 0px 0px;
    background-color: #f2f2f2;
    position: relative;
  }
  .abcdef {
    padding: 0px 0px 0px 0px;
  }
  .foricon7 {
    padding: 25px 0px 0px 0px;
  }
  .bottom90 {
    margin-bottom: -50px;
  }
  form {
    display: inherit;
    border-radius: 10px;
    justify-content: unset;
    padding: 55px 80px 15px 80px;
  }
  form .leftside {
    width: 100%;
  }
  form .leftside input {
    width: 100%;
    padding: 6px 20px 6px 15px;
    margin: 0px 0 15px;
  }
  form .rightside {
    width: 100%;
  }
  form .rightside textarea {
    width: 100%;
    padding: 8px 20px 10px 15px;
    margin: 0px 0 20px;
  }
  form .forbutton {
    text-align: right;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .formap {
    border: 3px solid #008ed6;
  }
  .sectioneight {
    padding: 20px 0px 20px 0px;
  }
  .footericon ul li a {
    font-size: 14px;
  }
  .sectioneight h3 {
    font-size: 13px;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 576px to 767.98px
*/

@media (min-width: 576px) and (max-width: 767.98px) {
  .forheight {
    min-height: 50vh;
    align-items: center;
  }
  .navbar-brand {
    padding-left: 12px;
  }
  .bannercontent h5 {
    padding: 70px 0px 10px 12px;
  }
  .bannercontent h1 {
    font-size: 30px;
    padding: 0px 0px 20px 12px;
  }
  .bannercontent p {
    font-size: 15px;
    padding: 0px 10px 25px 10px;
  }
  .forbutton .btn-one {
    font-size: 12px;
    padding: 8px 18px 8px 18px;
    margin: 0px 15px 0px 0px;
  }
  .forbutton .btn-tow {
    font-size: 12px;
    padding: 8px 18px 8px 18px;
  }
  .phoneimgone {
    display: none;
  }
  .sectionone {
    padding: 60px 0px 40px 0px;
  }
  .commonfour h5,
  .bannercontent h5 {
    font-size: 17px;
    padding-bottom: 0px;
  }
  .commonfour h1 {
    font-size: 30px;
  }
  .foriconone {
    padding: 40px 0px 25px 0px;
  }
  .sectionone .col-lg-3 h1 {
    font-size: 24px;
    padding: 0px 0px 10px 0px;
  }
  .sectionone .col-lg-3 p {
    font-size: 16px;
    padding: 0px 10px 5px 10px;
  }
  .forup {
    margin: 0px 0px 0px 0px;
  }
  .sectiontow {
    padding: 60px 0px 60px 0px;
  }
  .for-list-four ul {
    padding: 0px 0px 0px 65px;
  }
  .for-list-four ul li h6 {
    font-size: 17px;
  }
  .sectionthree {
    padding: 60px 0px 30px 0px;
  }
  .sectionfour {
    padding: 50px 0px 10px 0px;
  }
  .forborder {
    padding: 10px 0px 100px 0px;
  }
  .sectionfour p i {
    font-size: 15px;
  }
  .profileimg {
    padding-top: 5px;
  }
  .namecont {
    padding-top: 15px;
  }
  .namecont h1 {
    font-size: 12px;
  }
  .namecont h2 {
    font-size: 12px;
  }
  .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
  }
  .sectionfive {
    padding: 40px 0px 40px 0px;
  }
  .sectionfive h5 {
    text-align: center;
    font-size: 20px;
    padding: 12px 0px 10px 0px;
  }
  .forbutton {
    padding: 0px 0px 0px 12px;
  }
  .sectionsix {
    padding: 40px 0px 40px 0px;
  }
  .forbox {
    width: 100%;
    margin: auto;
  }
  .forwith h2 {
    padding: 35px 0px 0px 0px;
  }
  .forwith h4 {
    padding: 0px 0px 35px 0px;
  }
  .forbox h1 {
    font-size: 30px;
  }
  .forbox p {
    padding: 10px 0px 10px 0px;
  }
  .forbutton6 .btn-five {
    font-size: 17px;
    margin: 0px 0px 20px 0px;
  }
  .sectionseven {
    padding: 40px 0px 0px 0px;
    background-color: #f2f2f2;
    position: relative;
  }
  .abcdef {
    padding: 0px 0px 0px 0px;
  }
  .foricon7 {
    padding: 25px 0px 0px 0px;
  }
  .bottom90 {
    margin-bottom: -50px;
  }
  form {
    display: inherit;
    border-radius: 10px;
    justify-content: unset;
    padding: 55px 40px 15px 40px;
  }
  form .leftside {
    width: 100%;
  }
  form .leftside input {
    width: 100%;
    padding: 6px 20px 6px 15px;
    margin: 0px 0 15px;
  }
  form .rightside {
    width: 100%;
  }
  form .rightside textarea {
    width: 100%;
    padding: 8px 20px 10px 15px;
    margin: 0px 0 20px;
  }
  form .forbutton {
    text-align: right;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .formap {
    border: 3px solid #008ed6;
  }
  .sectioneight {
    padding: 20px 0px 20px 0px;
  }
  .footericon ul li a {
    font-size: 14px;
  }
  .sectioneight h3 {
    font-size: 13px;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 575.98px
*/

@media (min-width: 481px) and (max-width: 575.98px) {
  .forheight {
    min-height: 50vh;
    align-items: center;
    text-align: center;
  }
  .navbar-brand {
    padding-left: 12px;
  }
  .bannercontent h5 {
    padding: 103px 0px 0px 0px;
  }
  .bannercontent h1 {
    font-size: 42px;
  }
  .bannercontent p {
    font-size: 15px;
    padding: 0px 10px 25px 10px;
  }
  .forbutton .btn-one {
    font-size: 12px;
    padding: 8px 18px 8px 18px;
    margin: 0px 15px 0px 0px;
  }
  .forbutton .btn-tow {
    font-size: 12px;
    padding: 8px 18px 8px 18px;
  }
  .phoneimgone {
    display: none;
  }
  .sectionone {
    padding: 60px 0px 40px 0px;
  }
  .commonfour h5,
  .bannercontent h5 {
    font-size: 17px;
    padding-bottom: 0px;
  }
  .commonfour h1 {
    font-size: 30px;
  }
  .foriconone {
    padding: 40px 0px 25px 0px;
  }
  .sectionone .col-lg-3 h1 {
    font-size: 24px;
    padding: 0px 0px 10px 0px;
  }
  .sectionone .col-lg-3 p {
    font-size: 16px;
    padding: 0px 22px 10px 23px;
  }
  .forup {
    margin: 0px 60px 0px 60px;
  }
  .sectiontow {
    padding: 60px 0px 60px 0px;
  }
  .for-list-four ul {
    padding: 0px 0px 0px 65px;
  }
  .for-list-four ul li h6 {
    font-size: 17px;
  }
  .sectionthree {
    padding: 60px 0px 30px 0px;
  }
  .sectionfour {
    padding: 50px 0px 10px 0px;
  }
  .forborder {
    padding: 10px 0px 100px 0px;
  }
  .sectionfour p i {
    font-size: 15px;
  }
  .profileimg {
    padding-top: 5px;
  }
  .namecont {
    padding-top: 15px;
  }
  .namecont h1 {
    font-size: 12px;
  }
  .namecont h2 {
    font-size: 12px;
  }
  .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
  }
  .sectionfive {
    padding: 40px 0px 40px 0px;
  }
  .sectionfive h5 {
    text-align: center;
    font-size: 18px;
    padding: 12px 0px 10px 0px;
  }
  .forbutton {
    text-align: center;
  }
  .sectionsix {
    padding: 40px 0px 40px 0px;
  }
  .forbox {
    width: 70%;
    margin: auto;
  }
  .forwith h2 {
    padding: 35px 0px 0px 0px;
  }
  .forwith h4 {
    padding: 0px 0px 35px 0px;
  }
  .forbox h1 {
    font-size: 30px;
  }
  .forbox p {
    padding: 10px 0px 10px 0px;
  }
  .forbutton6 .btn-five {
    font-size: 17px;
    margin: 0px 0px 20px 0px;
  }
  .sectionseven {
    padding: 40px 0px 0px 0px;
    background-color: #f2f2f2;
    position: relative;
  }
  .abcdef {
    padding: 0px 0px 0px 0px;
  }
  .foricon7 {
    padding: 25px 0px 0px 0px;
  }
  .bottom90 {
    margin-bottom: -50px;
  }
  form {
    display: inherit;
    border-radius: 10px;
    justify-content: unset;
    padding: 45px 30px 15px 30px;
  }
  form .leftside {
    width: 100%;
  }
  form .leftside input {
    width: 100%;
    padding: 6px 20px 6px 15px;
    margin: 0px 0 15px;
  }
  form .rightside {
    width: 100%;
  }
  form .rightside textarea {
    width: 100%;
    padding: 8px 20px 10px 15px;
    margin: 0px 0 20px;
  }
  form .forbutton {
    text-align: right;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .formap {
    border: 3px solid #008ed6;
  }
  .sectioneight {
    padding: 20px 0px 20px 0px;
  }
  .footericon ul li a {
    font-size: 14px;
  }
  .sectioneight h3 {
    font-size: 13px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 426px to 480.98px
*/

@media (min-width: 426px) and (max-width: 480.98px) {
  .forheight {
    min-height: 50vh;
    align-items: center;
    text-align: center;
  }
  .navbar-brand {
    padding-left: 12px;
  }
  .bannercontent h5 {
    padding: 103px 0px 15px 0px;
  }
  .bannercontent h1 {
    font-size: 36px;
  }
  .bannercontent p {
    font-size: 15px;
    padding: 0px 10px 25px 10px;
  }
  .forbutton .btn-one {
    font-size: 12px;
    padding: 8px 18px 8px 18px;
    margin: 0px 15px 0px 0px;
  }
  .forbutton .btn-tow {
    font-size: 12px;
    padding: 8px 18px 8px 18px;
  }
  .phoneimgone {
    display: none;
  }
  .sectionone {
    padding: 40px 0px 40px 0px;
  }
  .commonfour h5,
  .bannercontent h5 {
    font-size: 15px;
    padding-bottom: 0px;
  }
  .commonfour h1 {
    font-size: 28px;
  }
  .foriconone {
    padding: 40px 0px 25px 0px;
  }
  .sectionone .col-lg-3 h1 {
    font-size: 24px;
    padding: 0px 0px 10px 0px;
  }
  .sectionone .col-lg-3 p {
    font-size: 16px;
    padding: 0px 22px 10px 23px;
  }
  .forup {
    margin: 0px 40px 0px 40px;
  }
  .sectiontow {
    padding: 40px 0px 40px 0px;
  }
  .for-list-four ul {
    padding: 0px 0px 0px 65px;
  }
  .for-list-four ul li h6 {
    font-size: 17px;
  }
  .sectionthree {
    padding: 40px 0px 30px 0px;
  }
  .sectionfour {
    padding: 50px 0px 10px 0px;
  }
  .forborder {
    padding: 10px 0px 100px 0px;
  }
  .sectionfour p i {
    font-size: 15px;
  }
  .profileimg {
    padding-top: 5px;
  }
  .namecont {
    padding-top: 15px;
  }
  .namecont h1 {
    font-size: 12px;
  }
  .namecont h2 {
    font-size: 12px;
  }
  .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
  }
  .sectionfive {
    padding: 40px 0px 40px 0px;
  }
  .sectionfive h5 {
    text-align: center;
    font-size: 18px;
    padding: 12px 0px 10px 0px;
  }
  .forbutton {
    text-align: center;
  }
  .sectionsix {
    padding: 40px 0px 40px 0px;
  }
  .forbox {
    width: 82%;
    margin: auto;
  }
  .forwith h2 {
    padding: 35px 0px 0px 0px;
  }
  .forwith h4 {
    padding: 0px 0px 35px 0px;
  }
  .forbox h1 {
    font-size: 30px;
  }
  .forbox p {
    padding: 10px 0px 10px 0px;
  }
  .forbutton6 .btn-five {
    font-size: 17px;
    margin: 0px 0px 20px 0px;
  }
  .sectionseven {
    padding: 40px 0px 0px 0px;
    background-color: #f2f2f2;
    position: relative;
  }
  .abcdef {
    padding: 0px 0px 0px 0px;
  }
  .foricon7 {
    padding: 25px 0px 0px 0px;
  }
  .bottom90 {
    margin-bottom: -50px;
  }
  form {
    display: inherit;
    border-radius: 10px;
    justify-content: unset;
    padding: 35px 15px 5px 15px;
  }
  form .leftside {
    width: 100%;
  }
  form .leftside input {
    width: 100%;
    padding: 6px 20px 6px 15px;
    margin: 0px 0 15px;
  }
  form .rightside {
    width: 100%;
  }
  form .rightside textarea {
    width: 100%;
    padding: 8px 20px 10px 15px;
    margin: 0px 0 20px;
  }
  form .forbutton {
    text-align: right;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .formap {
    border: 3px solid #008ed6;
  }
  .sectioneight {
    padding: 20px 0px 20px 0px;
  }
  .footericon ul li a {
    font-size: 14px;
  }
  .sectioneight h3 {
    font-size: 13px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 376px to 425px
*/

@media (min-width: 376px) and (max-width: 425.98px) {
  .forheight {
    min-height: 50vh;
    align-items: center;
    text-align: center;
  }
  .navbar-brand {
    padding-left: 12px;
  }
  .bannercontent h5 {
    padding: 103px 0px 15px 0px;
  }
  .bannercontent h1 {
    font-size: 33px;
  }
  .bannercontent p {
    font-size: 14.5px;
    padding: 0px 10px 25px 10px;
  }
  .forbutton .btn-one {
    font-size: 10px;
    padding: 8px 18px 8px 18px;
    margin: 0px 15px 0px 0px;
  }
  .forbutton .btn-tow {
    font-size: 10px;
    padding: 8px 18px 8px 18px;
  }
  .phoneimgone {
    display: none;
  }
  .sectionone {
    padding: 40px 0px 40px 0px;
  }
  .commonfour h5,
  .bannercontent h5 {
    font-size: 15px;
    padding-bottom: 0px;
  }
  .commonfour h1 {
    font-size: 26px;
  }
  .foriconone {
    padding: 40px 0px 25px 0px;
  }
  .sectionone .col-lg-3 h1 {
    font-size: 24px;
    padding: 0px 0px 10px 0px;
  }
  .sectionone .col-lg-3 p {
    font-size: 15px;
    padding: 0px 22px 10px 23px;
  }
  .forup {
    margin: 0px 25px 0px 25px;
  }
  .sectiontow {
    padding: 40px 0px 40px 0px;
  }
  .for-list-four ul li h6 {
    font-size: 17px;
  }
  .sectionthree {
    padding: 40px 0px 30px 0px;
  }
  .sectionfour {
    padding: 50px 0px 10px 0px;
  }
  .forborder {
    padding: 10px 0px 100px 0px;
  }
  .sectionfour p i {
    font-size: 15px;
  }
  .profileimg {
    padding-top: 5px;
  }
  .namecont {
    padding-top: 15px;
  }
  .namecont h1 {
    font-size: 12px;
  }
  .namecont h2 {
    font-size: 12px;
  }
  .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
  }
  .sectionfive {
    padding: 40px 0px 40px 0px;
  }
  .sectionfive h5 {
    text-align: center;
    font-size: 15px;
    padding: 12px 0px 10px 0px;
  }
  .forbutton {
    text-align: center;
  }
  .sectionsix {
    padding: 40px 0px 40px 0px;
  }
  .forbox {
    width: 90%;
    margin: auto;
  }
  .forwith h2 {
    padding: 35px 0px 0px 0px;
  }
  .forwith h4 {
    padding: 0px 0px 35px 0px;
  }
  .forbox h1 {
    font-size: 30px;
  }
  .forbox p {
    padding: 10px 0px 10px 0px;
  }
  .forbutton6 .btn-five {
    font-size: 17px;
    margin: 0px 0px 20px 0px;
  }
  .sectionseven {
    padding: 40px 0px 0px 0px;
    background-color: #f2f2f2;
    position: relative;
  }
  .abcdef {
    padding: 0px 0px 0px 0px;
  }
  .foricon7 {
    padding: 25px 0px 0px 0px;
  }
  .bottom90 {
    margin-bottom: -50px;
  }
  form {
    display: inherit;
    border-radius: 10px;
    justify-content: unset;
    padding: 35px 15px 5px 15px;
  }
  form .leftside {
    width: 100%;
  }
  form .leftside input {
    width: 100%;
    padding: 6px 20px 6px 15px;
    margin: 0px 0 15px;
  }
  form .rightside {
    width: 100%;
  }
  form .rightside textarea {
    width: 100%;
    padding: 8px 20px 10px 15px;
    margin: 0px 0 20px;
  }
  form .forbutton {
    text-align: right;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .formap {
    border: 3px solid #008ed6;
  }
  .sectioneight {
    padding: 20px 0px 20px 0px;
  }
  .footericon ul li a {
    font-size: 14px;
  }
  .sectioneight h3 {
    font-size: 13px;
  }
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 321px to 375.98px
*/

@media (min-width: 321px) and (max-width: 375.98px) {
  .forheight {
    min-height: 50vh;
    align-items: center;
    text-align: center;
  }
  .navbar-brand {
    padding-left: 12px;
  }
  .bannercontent h5 {
    padding: 103px 0px 15px 0px;
  }
  .bannercontent h1 {
    font-size: 28px;
  }
  .bannercontent p {
    font-size: 13.5px;
    padding: 0px 10px 25px 10px;
  }
  .forbutton .btn-one {
    font-size: 10px;
    padding: 8px 18px 8px 18px;
    margin: 0px 15px 0px 0px;
  }
  .forbutton .btn-tow {
    font-size: 10px;
    padding: 8px 18px 8px 18px;
  }
  .phoneimgone {
    display: none;
  }
  .sectionone {
    padding: 40px 0px 40px 0px;
  }
  .commonfour h5,
  .bannercontent h5 {
    font-size: 15px;
    padding-bottom: 0px;
  }
  .commonfour h1 {
    font-size: 26px;
  }
  .foriconone {
    padding: 40px 0px 25px 0px;
  }
  .sectionone .col-lg-3 h1 {
    font-size: 24px;
    padding: 0px 0px 10px 0px;
  }
  .sectionone .col-lg-3 p {
    font-size: 15px;
  }
  .forup {
    margin: 0px 25px 0px 25px;
  }
  .sectiontow {
    padding: 40px 0px 40px 0px;
  }
  .for-list-four ul li h6 {
    font-size: 17px;
  }
  .sectionthree {
    padding: 40px 0px 30px 0px;
  }
  .sectionfour {
    padding: 50px 0px 10px 0px;
  }
  .forborder {
    padding: 10px 0px 100px 0px;
  }
  .sectionfour p i {
    font-size: 15px;
  }
  .profileimg {
    padding-top: 5px;
  }
  .namecont {
    padding-top: 15px;
  }
  .namecont h1 {
    font-size: 12px;
  }
  .namecont h2 {
    font-size: 12px;
  }
  .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
  }
  .sectionfive {
    padding: 40px 0px 40px 0px;
  }
  .sectionfive h5 {
    text-align: center;
    font-size: 15px;
    padding: 12px 0px 10px 0px;
  }
  .forbutton {
    text-align: center;
  }
  .sectionsix {
    padding: 40px 0px 40px 0px;
  }
  .forbox {
    width: 90%;
    margin: auto;
  }
  .forwith h2 {
    padding: 35px 0px 0px 0px;
  }
  .forwith h4 {
    padding: 0px 0px 35px 0px;
  }
  .forbox h1 {
    font-size: 30px;
  }
  .forbox p {
    padding: 10px 0px 10px 0px;
  }
  .forbutton6 .btn-five {
    font-size: 17px;
    margin: 0px 0px 20px 0px;
  }
  .sectionseven {
    padding: 40px 0px 0px 0px;
    background-color: #f2f2f2;
    position: relative;
  }
  .abcdef {
    padding: 0px 0px 0px 0px;
  }
  .foricon7 {
    padding: 25px 0px 0px 0px;
  }
  .bottom90 {
    margin-bottom: -50px;
  }
  form {
    display: inherit;
    border-radius: 10px;
    justify-content: unset;
    padding: 35px 15px 5px 15px;
  }
  form .leftside {
    width: 100%;
  }
  form .leftside input {
    width: 100%;
    padding: 6px 20px 6px 15px;
    margin: 0px 0 15px;
  }
  form .rightside {
    width: 100%;
  }
  form .rightside textarea {
    width: 100%;
    padding: 8px 20px 10px 15px;
    margin: 0px 0 18px;
  }
  form .forbutton {
    text-align: right;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .formap {
    border: 3px solid #008ed6;
  }
  .sectioneight {
    padding: 20px 0px 20px 0px;
  }
  .footericon ul li a {
    font-size: 14px;
  }
  .sectioneight h3 {
    font-size: 13px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 0px to 320px
*/

@media (min-width: 0px) and (max-width: 320px) {
  .forheight {
    min-height: 50vh;
    align-items: center;
    text-align: center;
  }
  .navbar-brand {
    padding-left: 12px;
  }
  .bannercontent h5 {
    padding: 103px 0px 15px 0px;
  }
  .bannercontent h1 {
    font-size: 22px;
  }
  .bannercontent p {
    font-size: 13.5px;
    padding: 0px 10px 25px 10px;
  }
  .forbutton .btn-one {
    font-size: 10px;
    padding: 8px 18px 8px 18px;
    margin: 0px 15px 0px 0px;
  }
  .forbutton .btn-tow {
    font-size: 10px;
    padding: 8px 18px 8px 18px;
  }
  .phoneimgone {
    display: none;
  }
  .sectionone {
    padding: 40px 0px 40px 0px;
  }
  .commonfour h5,
  .bannercontent h5 {
    font-size: 15px;
    padding-bottom: 0px;
  }
  .commonfour h1 {
    font-size: 26px;
  }
  .foriconone {
    padding: 40px 0px 25px 0px;
  }
  .sectionone .col-lg-3 h1 {
    font-size: 24px;
    padding: 0px 0px 10px 0px;
  }
  .sectionone .col-lg-3 p {
    font-size: 15px;
  }
  .sectiontow {
    padding: 40px 0px 40px 0px;
  }
  .for-list-four ul li h6 {
    font-size: 17px;
  }
  .sectionthree {
    padding: 40px 0px 30px 0px;
  }
  .sectionfour {
    padding: 50px 0px 10px 0px;
  }
  .forborder {
    padding: 10px 0px 100px 0px;
  }
  .sectionfour p i {
    font-size: 15px;
  }
  .profileimg {
    padding-top: 5px;
  }
  .namecont {
    padding-top: 15px;
  }
  .namecont h1 {
    font-size: 12px;
  }
  .namecont h2 {
    font-size: 12px;
  }
  .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
  }
  .sectionfive {
    padding: 40px 0px 40px 0px;
  }
  .sectionfive h5 {
    text-align: center;
    font-size: 15px;
    padding: 12px 0px 10px 0px;
  }
  .forbutton {
    text-align: center;
  }
  .sectionsix {
    padding: 40px 0px 40px 0px;
  }
  .forbox {
    width: 90%;
    margin: auto;
  }
  .forwith h2 {
    padding: 35px 0px 0px 0px;
  }
  .forwith h4 {
    padding: 0px 0px 35px 0px;
  }
  .forbox h1 {
    font-size: 30px;
  }
  .forbox p {
    padding: 10px 0px 10px 0px;
  }
  .forbutton6 .btn-five {
    font-size: 17px;
    margin: 0px 0px 20px 0px;
  }
  .sectionseven {
    padding: 40px 0px 0px 0px;
    background-color: #f2f2f2;
    position: relative;
  }
  .abcdef {
    padding: 0px 0px 0px 0px;
  }
  .foricon7 {
    padding: 25px 0px 0px 0px;
  }
  .bottom90 {
    margin-bottom: -50px;
  }
  form {
    display: inherit;
    border-radius: 10px;
    justify-content: unset;
    padding: 35px 15px 5px 15px;
  }
  form .leftside {
    width: 100%;
  }
  form .leftside input {
    width: 100%;
    padding: 6px 20px 6px 15px;
    margin: 0px 0 15px;
  }
  form .rightside {
    width: 100%;
  }
  form .rightside textarea {
    width: 100%;
    padding: 8px 20px 10px 15px;
    margin: 0px 0 18px;
  }
  form .forbutton {
    text-align: right;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .formap {
    border: 3px solid #008ed6;
  }
  .sectioneight {
    padding: 20px 0px 20px 0px;
  }
  .footericon ul li a {
    font-size: 14px;
  }
  .sectioneight h3 {
    font-size: 13px;
  }
}
